.icheck-primary>input:first-child:checked+input[type=hidden]+label::before,
.icheck-primary>input:first-child:checked+label::before {
    background-color: #007bff;
    border-color: #007bff;
}

/* info */
.icheck-info>input:first-child:checked+input[type=hidden]+label::before,
.icheck-info>input:first-child:checked+label::before {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
