.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.optional::after {
    content: " (optional)";
    color: #999;
    font-weight: normal;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.fs-4{
    font-size: 1.5rem;
}
